.security{
    /* border: 2px solid blue; */
    height: 100vh;
    background-image: url(../Images/dog1.png.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.security h1{
    /* border: 2px solid red; */
    width: 80%;
    font-size: 6rem;
    margin-bottom: 2rem;
}
.security h2{
    /* border: 2px solid red; */
    width: 80%;
    font-size: 2rem;
}
.security p{
    /* border: 2px solid red; */
    width: 80%;
    font-size: 1.5rem;
    padding-right:18rem;
}
.security button{
    margin: 5rem;
    padding: 2rem 6rem;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 550;
}